---
const rawDate = import.meta.env.PUBLIC_LAST_MODIFIED ? new Date(import.meta.env.PUBLIC_LAST_MODIFIED) : new Date();

const now = new Date();
const yesterday = new Date(now.getDate() - 1);

let formattedDate = rawDate.toDateString() === now.toDateString() ? "Today" : "";

if (rawDate.toDateString() === yesterday.toDateString()) formattedDate = "Yesterday";

let formattedRawDate = rawDate.toLocaleString(undefined, {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    hour12: true,
});

let lastModified = formattedDate || formattedRawDate;
---

<p class="text-[#4b5563] dark:text-neutral-200" title={formattedRawDate}>
    Last Modified: {lastModified}
</p>
