@import "tailwindcss";

@custom-variant hocus (&:hover, &:focus);
@custom-variant default (html :where(&));
@custom-variant scrollbar (&::-webkit-scrollbar);
@custom-variant scrollbar-track (&::-webkit-scrollbar-track);
@custom-variant scrollbar-thumb (&::-webkit-scrollbar-thumb);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-quicksand: "Quicksand", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-rubik: "Rubik", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-figtree: "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* === Scrollbar Utilities === */
@layer utilities {
    @supports (scrollbar-width: thin) {
        .scrollbar-thin {
            scrollbar-width: thin;
        }
    }

    @supports selector(::-webkit-scrollbar) {
        .scrollbar-minimal::-webkit-scrollbar {
            width: 0.35rem;
            height: 0.35rem;
        }
        .scrollbar-minimal::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 9999px;
        }

        .scrollbar-minimal::-webkit-scrollbar-thumb {
            background: #8a8a8a;
            border-radius: 9999px;
        }

        .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
            background: #636363;
        }

        .scrollbar-minimal:is(.dark *)::-webkit-scrollbar-thumb {
            background: #9e9e9e;
        }

        .scrollbar-minimal:is(.dark *)::-webkit-scrollbar-thumb:hover {
            background: #d0d0d0;
        }

        .scrollbar-minimal.scrollbar-hover::-webkit-scrollbar {
            width: 0rem;
        }

        .group:hover .scrollbar-minimal.scrollbar-hover::-webkit-scrollbar {
            width: 0.35rem;
        }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        appearance: textfield;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
