<div
    class={`rounded-full px-2 py-0.5 shadow-md text-xs ring ring-gray-200/60 hover:ring-purple-600/50 transition-all transition-300 text-center ${Astro.props.class ?? ""}`}
>
    <slot />
</div>
