<div
    class={[
        "rounded-full px-2 py-0.5 shadow-md ring ring-gray-200/60 dark:ring-gray-800/30 dark:bg-neutral-800 transition-all duration-300 text-center hover:ring-purple-700/60",
        Astro.props.class,
    ]
        .join(" ")
        .trim()}
>
    <slot />
</div>
