---
import type { Experience } from "@/types/types";

import DescriptionItem from "@/components/lists/DescriptionItem.astro";
import CardHeader from "@/components/static/CardHeader.astro";
import ChipCard from "@/components/cards//ChipCard.astro";
import BaseCard from "@/components/cards/BaseCard.astro";

const { title, company, startDate, endDate, location, skills, description, snapshot } = Astro.props as Experience;
---

<BaseCard>
    <header class="flex gap-2 flex-wrap items-center-safe">
        <CardHeader>{title ?? "Software Developer"}</CardHeader>

        <p class="text-neutral-700 dark:text-neutral-300">{startDate ?? "Sep 2022"} - {endDate ?? "Aug 2023"}</p>

        <p class="text-neutral-700 dark:text-neutral-300 me-auto w-full">{company ?? "Environment and Climate Change Canada"} | {location ?? "Toronto, ON"}</p>

        {
            skills && skills.length > 0 && (
                <div class="flex flex-wrap gap-2">
                    {skills?.map((skill) => {
                        return <ChipCard key>{skill}</ChipCard>;
                    })}
                </div>
            )
        }
    </header>
    {snapshot && <p>{snapshot}</p>}
    {
        !snapshot && description && description.length > 0 && (
            <ul class="font-figtree">
                {description.map((entry) => {
                    return <DescriptionItem>{entry}</DescriptionItem>;
                })}
            </ul>
        )
    }
</BaseCard>
