<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Amin Nausin</title>

    <script is:inline defer data-domain={import.meta.env.DOMAIN} src={import.meta.env.PLAUSIBLE_DOMAIN}></script>
</head>
