---
import Head from "@/components/meta/Head.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en" class="font-figtree dark:[color-scheme:dark] scrollbar-minimal scrollbar:bg-neutral-300 dark:scrollbar:bg-neutral-900">
    <Head />
    <body class="flex flex-col font-quicksand p-6 md:py-12 gap-12">
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        transition:
            color 0.5s,
            background-color 0.5s;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
